# Zyte API Key (https://app.zyte.com/o/ORG_ID/zyte-api/api-access)
API_KEY=your_api_key_here

# Smart Proxy Manager API Key (https://app.zyte.com/o/ORG_ID/smart-proxy-manager)   
SPM_API_KEY=your_api_key_here

# 2Captcha API Key (https://2captcha.com/enterpage)
TWO_CAPTCHA_KEY=your_api_key_here


####################################################################
# Zyte Smartproxy Headless Proxy configuration (https://github.com/zytedata/zyte-smartproxy-headless-proxy)

# Documentation: https://docs.zyte.com/smart-proxy-manager/headless.html#using-headless-browsers-with-zyte-smart-proxy-manager
# Required
CRAWLERA_API_KEY=your_api_key_here

# Optional overrides
CRAWLERA_HOST=proxy.crawlera.com
CRAWLERA_PORT=8010
CRAWLERA_NO_AUTO_SESSIONS=false
CRAWLERA_CONCURRENT_CONNECTIONS=0
CRAWLERA_DONT_VERIFY=false

# Comma-separated xheader pairs, e.g. profile=desktop,cookies=disable
CRAWLERA_XHEADERS=

# Local listen port for the proxy
SPM_LOCAL_PORT=3128
